<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/burgers" method="post">

        <input type="text" name="name" placeholder="Burger Name">
        <br>
        <input type="text" name="bun" placeholder="Burger Bun">
        <br>
        <input type="text" name="meat" placeholder="Burger Meat">
        <br>
        <input type="number" name="calories" min="0" value="0">


        <button type="submit">Create</button>
    </form>


    <a href="/burger">DISPLAY ALL</a>


</body>
</html>