<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <i>{{username}}</i></h1>
    <ul>
        {% for pet in pets %}
            
            {% if pet == "Dragon" %}
                <li>I have a {{pet}} 🔥🔥🔥🔥🔥</li> 
            {% else %}
                <li>I have a {{pet}}</li> 
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>